.footer {
    background-color: #f4f4f4;
    border-top: 1px solid #cacaca;
    width: 100%;
    margin-top: 35px;
    line-height: 60px;
    text-align: center;
    font-size: 14px;

    p {
        margin: 10px 0;
        line-height: 1.5;
        font-size: 12px;
    }
}